* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top {
  width: 100%;
  height: 100vh;
  background: url('./desktop/image-header.jpg');
  background-position: center;background-size: cover;
  background-repeat: no-repeat;
}

.header {
 margin: 0 auto;
}

.nav {
 display: flex;
 justify-content: space-between;
 padding: 2em;
}

ul {
 display: flex;
 list-style: none;
}

ul li a {
 text-decoration: none;
 margin-left: 2em;
 color: white;
 font-weight: 500;
}

.contact {
 color: blue;
 padding: .5em .7em;
 background-color: white;
 border-radius: 100px;
}

.header-title {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.header-text {
 color: white;
 font-weight: 400;
 font-size: 4rem;
}

.arrow-down {
 position: relative;
 top: 120px;
}

.menu-icon {
 display: none;
}


/* TOP */

 .top{
  background: url('./mobile/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }
 .list-items {
  display: none;
 }
 .header-text {
  font-size: 3rem;
 }
 .arrow-down {
  top: 50px;
 }
 .menu-icon {
  display: grid;
  height: 20px;
 }

  /* BRAND INFO */

 .brand-images-1 {
  background: url('./mobile/image-transform.jpg');
 }
 .brand-images-2 {
  background: url('./mobile/image-stand-out.jpg');
 }
 .graphics {
  background: url('./mobile/image-graphic-design.jpg');
 }
 .photography {
  background-image: url('./mobile/image-photography.jpg');
 }
 .designs {
  display: flex;
  flex-direction: column;
 }
 .top-design {
  display: grid;
  /* grid-auto-rows: minmax(100%, auto); */
 }
 .brand-images {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
 }

 .brand-info {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 3em 0;
 }

 .brand-heading {
  font-size: 2rem;
 }
 .brand-text {
  margin: 1em 0;
 }
 .learn-more {
  text-decoration: none;
  font-weight: 600;
 }
 .graphics, .photography {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
 }
 .design-wordings {
  position: relative;
  top: 50%;
  padding: 2em;
  text-align: center;
 }
 .design-heading {
  margin: 1.3em 0;
 }
 .design-text {
  font-weight: 500;
 }

  /* TESTIMONIAL */

 .testimonial-list {
   width: 80%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
  }

  .testimonials {
   text-align: center;
   padding: 4em 0;
  }

  .testimonial {
   margin-top: 2em;
  }

  .testimonial-image {
   width: 50px;
   border-radius: 50%;
  }
  .testimonial-text {
   line-height: 1.7em;
   margin: 1em 0;
   font-weight: 500;
  }
  .testimonial-name {
   font-size: 1.2rem;
   font-weight: 600;
  }
  .testimonial-occupation {
   color: grey;
   font-size: .9rem;
   font-weight: 500;
   margin-top: .4em;
  }

/* BRAND GALLERY */

 .brand-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .brand-gallery > img {
  width: 100%;
 }

/* FOOTER */
.footer {
 text-align: center;
 padding: 3em;
 display: flex;
 flex-direction: column;
 background-color: rgb(28, 179, 103);
}
.footer-logo {
 font-size: 2rem;
 font-weight: bolder;
 color: rgb(1, 92, 46);
}
.footer-link {
 margin: 2em 0;
 font-weight: bolder;
}
.footer-link a {
 text-decoration: none;
 font-weight: bold;
 color: rgb(2, 146, 74);
 margin-right: 2em;
}
.social-link a {
 margin-right: 1em;
}

